.app-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-details img {
  width: 40px;
  height: 40px;
}
.app-details p {
  color: #314659cf;
  font-size: 13px;
}
.app-details h5 {
  font-size: 30px;
  font-weight: 700;
}
@media (min-width: 550px) {
  .app-details p {
    font-size: 15px;
  }
  .app-details h5 {
    font-size: 40px;
    font-weight: 700;
  }
}
@media (min-width: 1024px) {
  .app-details {
    align-items: start;
  }
}
