.app-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-details img {
  width: 40px;
  height: 40px;
}
.app-details p {
  color: #314659cf;
  font-size: 13px;
}
.app-details h5 {
  font-size: 30px;
  font-weight: 700;
}
@media (min-width: 550px) {
  .app-details p {
    font-size: 15px;
  }
  .app-details h5 {
    font-size: 40px;
    font-weight: 700;
  }
}
@media (min-width: 1024px) {
  .app-details {
    align-items: start;
  }
}

/* For glossy effect on button */
.glossy-effect {
  position: relative;
  overflow: hidden;
}

.glossy-effect:not(:disabled)::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -100%;
  width: 100%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.826),
    transparent
  );
  animation: shine 2s infinite;
  z-index: 1;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
